
<h3 align="center">关联查询列表</h3>

<!-- 数据列表 -->
		<table border="1px" s cellpadding="20" cellspacing="0">
			<thead>
				<tr>
					<th>序号</th> 
					<th>sid</th> 
					<th>sname</th> 
					<th>ssex</th>
					<th>cid</th>
					<th>cname</th>
				</tr>
			</thead>
			<tbody>
			<% for(item in page.list){ %>
				<tr>
				<td>${itemLP.index }</td>
					<td>${item.sid}</td> 
					<td>${item.sname}</td> 
					<td>${item.ssex}</td> 
					<td>${item.cid}</td> 
					<td>${item.cname}</td> 
				</tr>
			<% } %>
			</tbody>
		</table>
	<%includeFileTemplate("/common/_paginate.html",
		{"currentPage":page.pageNumber,"totalPage":page.totalPage,"actionUrl":"/student/listAll/"}) {} 
	 %>
