<link rel="stylesheet"  type="text/css" href="/static/component/css/bootstrap-theme.css" />
<link rel="stylesheet"  type="text/css" href="/static/component/css/bootstrap-theme.min.css" />
<link rel="stylesheet"  type="text/css" href="/static/component/css/bootstrap.css" />
<link rel="stylesheet"  type="text/css" href="/static/component/css/bootstrap.min.css" />

<script type="text/javascript" src="/static/component/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/component/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/component/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/component/js/npm.js"></script>
<script defer="defer" type="text/javascript" src="/static/component/My97DatePicker/WdatePicker.js"></script>
