<title>电力资源后台管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- 弹出框 -->
<% include("/static/component/include/ymprompt.html"){} %>

<!-- jquery -->
<% include("/static/component/include/jquery.html"){} %>

<!-- bootstrap -->
<% include("/static/component/include/bootstrap.html"){} %>

<!-- 主JS -->
<script type="text/javascript" src="/static/common/main.js"></script>
<!-- 验证工具 -->
<script type="text/javascript" src="/static/common/valid.js"></script>
<!-- 初始化JS -->
<script type="text/javascript" src="/static/common/initJs.js"></script>
<!-- 主样式 -->
<link href="/static/common/main.css" rel="stylesheet" type="text/css" />
<!-- 微软雅黑字体 -->
<link href="/static/common/font.css" rel="stylesheet" type="text/css">
